@media screen and (min-width: 320px) and (max-width: 740px){
.titulo {
    font-size: 8vw;
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: bolder;
    text-align: center;
    color: #fff;
    margin-top: 40vw;
    margin-bottom: 10vw;
}
.container {
    background: linear-gradient(to bottom, #18B7E4, #000000);
    margin-top: -20.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formulario {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3vw;
    width: 100%;
}
.formulario input {
    height: 8vw;
    width: 60vw;
    border-radius: 1.5vw;
    border-style: none;
    text-align: center;
    font-size: 3vw;
}
.formulario input::placeholder {
    color: rgb(42, 42, 42);
}
.inputError {
    border: 1px solid red;
    color: red;
    text-align: center;
}
.botao {
    width: 60vw;
    height: 8vw;
    background-color: #006581;
    color: #fff;
    border-style: none;
    border-radius: 1.5vw;
    font-size: 3vw;
    font-family: "Red Hat Display", sans-serif;
    text-align: center;
}
.desistirbotao {
    background-color: #006581;
    margin-top: 4vw;
    width: 60vw;
    height: 8vw;
    border-radius: 1.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.voltabotao {
    text-decoration: none;
    color: #fff;
    font-size: 3vw;
    font-family: "Red Hat Display", sans-serif;
}
.qualquer{
    height: 47vw;
}
.divisao{
    height: 1vw;
    width: 60vw;
    background-color: #fff;
    margin-top: 5vw;
    margin-bottom: 5vw;
}
.botao:hover {
    background-color: #18B7E4;
    cursor: pointer;;
}
.desistirbotao:hover {
    background-color: #18B7E4;
    cursor: pointer;;
}
}
@media (min-width: 741px){
    .titulo {
        font-size: 5vw;
        font-family: "Red Hat Display", sans-serif;
        font-optical-sizing: auto;
        font-weight: bolder;
        text-align: center;
        color: #fff;
        margin-top: 40vw;
        margin-bottom: 10vw;
    }
    .container {
        background: linear-gradient(to bottom, #18B7E4, #000000);
        margin-top: -20.5vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .formulario {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 3vw;
        width: 100%;
    }
    .formulario input {
        height: 5vw;
        width: 50vw;
        border-radius: 1vw;
        border-style: none;
        text-align: center;
        font-size: 3vw;
    }
    .formulario input::placeholder {
        color: rgb(42, 42, 42);
    }
    .inputError {
        border: 1px solid red;
        color: red;
        text-align: center;
    }
    .botao {
        width: 50vw;
        height: 5vw;
        background-color: #006581;
        color: #fff;
        border-style: none;
        border-radius: 1vw;
        font-size: 3vw;
        font-family: "Red Hat Display", sans-serif;
        text-align: center;
    }
    .desistirbotao {
        background-color: #006581;
        margin-top: 4vw;
        width: 50vw;
        height: 5vw;
        border-radius: 1vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .voltabotao {
        text-decoration: none;
        color: #fff;
        font-size: 3vw;
        font-family: "Red Hat Display", sans-serif;
    }
    .qualquer{
        height: 30vw;
    }
    .divisao{
        height: 1vw;
        width: 50vw;
        background-color: #fff;
        margin-top: 5vw;
        margin-bottom: 5vw;
    }
    .botao:hover {
        background-color: #18B7E4;
        cursor: pointer;;
    }
    .desistirbotao:hover {
        background-color: #18B7E4;
        cursor: pointer;;
    }
    }